<header class="snipcart__box--header">
  <a class="header__branding" href="/">
    <img class="snipcart__icon--brand" src="logo.svg" alt="clouddeli logo"> 
    <h3 class="header__title">CloudDeli</h3>
  </a>
  <div class="snipcart__box">
    <a href="#" class="snipcart-checkout" style="text-decoration: none;">
      <div class="snipcart-cart-summary-item">
        <span>🛒</span>
        <span class="snipcart-total-price snipcart__font--bold snipcart__font--secondary"></span>
      </div>
    </a>
  </div>
</header>