{{ partial "header.html" . }}
            <h1>Getting Started with Drum Lessons</h1>

            <section id="intro">
                <p>Congratulations, I'm excited to join you in your journey of learning about drums and music!</p>
                <p>There are many opinions regarding how and in what order to learn the drums. In order to reduce the noise and set you on a clear path, I have provided some tips and a list of equipment to get you started.</p>
                <p class="disclaimer">I may earn a commission if you click through and make a purchase using the affiliate links below. Your support in purchasing through these links enables me to keep providing free, helpful content on this site. Thank you for your support!</p>
            </section>

            <section id="tips-faq">
                <h2>Tips and FAQ's</h2>
                <div>Below is a quick list of tips and FAQ's to consider as you start your journey</div>
                
                <h3>Tips</h3>
                <ul class="tips-list">
                    <li>Learn the exercise or part slow and build speed later. It's important to teach your muscles how to do something <i>correctly</i> in a relaxed state, and then you can slowly work on speeding up.</li>
                    <li>Always strive to play your exercise or part in a relaxed state. If you can't play it in a relaxed state, it's not ready for prime time.</li>
                </ul>

                <h3>FAQ List</h3>
                <ul class="faq-list">
                    <li>
                        <span class="faq-list-question">How long will it take me to be good enough to play in my friends' rock band?</span>
                        <span class="faq-list-answer">There is no reason to wait to start a band with your friends. However, mastering the drums takes a lifetime. It's about slow, steady improvement over a period of time.</span>
                    </li>
                </ul>
            </section>

            <section id="affiliate-links">
                <h4>What do I buy?</h4>
                <div class="link-list">
                    <div class="link-list-item">
                        <div class="link-list-item-img">
                            <img src="../img/drum-lessons/vf-practice-pad-300x300.jpg" alt="Vic Firth practice pad" />
                        </div>
                        <div class="link-list-item-body">
                            <div class="link-list-item-desc">
                                A practice pad is a great companion for developing technique when you don't have access to a drum or drum kit. You can use it to build your skills by going through exercises, or you can use it while you're watching TV to simply work out your hands.
                            </div>
                            <div class="link-list-item-link affiliate-link">
                                <a target="_blank" href="https://www.amazon.com/Vic-Firth-Single-Sided-12/dp/B0002F5BF2/ref=sr_1_6?crid=1DBHAXCKPQ6HK&amp;keywords=vic%252Bfirth%252Bpractice%252Bpad&amp;qid=1701537557&amp;sprefix=vic%252Bfirth%252Bprac%252Caps%252C119&amp;sr=8-6&amp;th=1&_encoding=UTF8&tag=jerkellermusi-20&linkCode=ur2&linkId=e57da6bda042b3a472b00d9304e56eb4&camp=1789&creative=9325">VicFirth 12-inch Practice Pad</a>
                            </div>
                        </div>
                    </div>
                    <div class="link-list-item">
                        <div class="link-list-item-img">
                            <img src="../img/drum-lessons/vf-5a-drumsticks-300x300.jpg" alt="Vic Firth American Classic 5A Drum Sticks" />
                        </div>
                        <div class="link-list-item-body">
                            <div class="link-list-item-desc">
                                It goes without saying: drum sticks are a must for learning the drums. We will discuss what all the numbers and letters mean, but for now, these sticks are a good starting point.
                            </div>
                            <div class="link-list-item-link affiliate-link">
                                <a target="_blank" href="https://www.amazon.com/Vic-Firth-American-Classic-5A/dp/B0002F741Q/ref=sr_1_3?crid=2EQQI3F4XY3N0&amp;keywords=vic%252Bfirth%252B5a&amp;qid=1701697377&amp;sprefix=vic%252Bfirth%252Caps%252C127&amp;sr=8-3&amp;th=1&_encoding=UTF8&tag=jerkellermusi-20&linkCode=ur2&linkId=68296f74822413750032c335fea586ff&camp=1789&creative=9325">Vic Firth American Classic 5A Drum Sticks</a>
                            </div>
                        </div>
                    </div>
                    <div class="link-list-item">
                        <div class="link-list-item-img">
                            <img src="../img/drum-lessons/metronome-300x310.jpg" alt="A digital metronome" />
                        </div>
                        <div class="link-list-item-body">
                            <div class="link-list-item-desc">
                                A metronome is a must-have tool for building your sense of time as a drummer. In the era of smart phones, a quality metronome is just an app away. I have included my go-to app available for iOS and Android as well as my suggestion for a standalone metronome device, if you prefer.
                            </div>
                            <div class="link-list-item-link affiliate-link">
                                <a target="_blank" href="https://www.amazon.com/Tama-RW200-Rhythm-Watch-Metronome/dp/B00UYJTAU8/ref=sr_1_2?crid=SZA56PT2PM5Z&amp;keywords=tama+rhythm+watch&amp;qid=1701726789&amp;sprefix=tama+rhythm%252Caps%252C110&amp;sr=8-2&amp;ufe=app_do%253Aamzn1.fos.17d9e15d-4e43-4581-b373-0e5c1a776d5d&_encoding=UTF8&tag=jerkellermusi-20&linkCode=ur2&linkId=96d42077c8ae191ac9ad7b7c228a5282&camp=1789&creative=9325">Tama Rhythm Watch RW200 (Programmable)</a>
                            </div>
                            <div class="link-list-item-link affiliate-link">
                                <a target="_blank" href="https://www.amazon.com/Sondery-Metronome-Instruments-Different-Chargeable/dp/B0B12CJC6G/ref=sr_1_7?crid=D5UPN379Z09B&amp;keywords=metronome&amp;qid=1701727154&amp;sprefix=metronome%252Caps%252C138&amp;sr=8-7&amp;th=1&_encoding=UTF8&tag=jerkellermusi-20&linkCode=ur2&linkId=0620937b01bacd6f9c9c2eeace5700f6&camp=1789&creative=9325">Digital Metronome (Cheap)</a>
                            </div>
                            <div class="link-list-item-link">
                                <a target="_blank" href="http://www.frozenape.com/tempo-metronome.html">Metronome: Tempo Lite (Free app)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{{ partial "footer.html" . }}