{{ partial "header.html" . }}
            <h1>Getting Started with Drum Lessons</h1>

            <section id="intro">
                <p>Congratulations, I'm excited to join you in your journey of learning about drums and music!</p>
                <p>There are many opinions regarding how and in what order to learn the drums. In order to reduce the noise and set you on a clear path, I have provided some tips and a list of equipment to get you started.</p>
                <p class="disclaimer">I may earn a commission if you click through and make a purchase using the affiliate links below. Your support in purchasing through these links enables me to keep providing free, helpful content on this site. Thank you for your support!</p>
            </section>

            <section id="tips-faq">
                <h2>Tips and FAQ's</h2>
                <div>Below is a quick list of tips and FAQ's to consider as you start your journey</div>
                
                <h3>Tips List</h3>
                <ul class="tips-list">
                    <li>Tip 1</li>
                </ul>

                <h3>FAQ List</h3>
                <ul class="faq-list">
                    <li>FAQ 1</li>
                </ul>
            </section>

            <section id="affiliate-links">
                <h4>What do I buy?</h4>
                <div class="link-list">
                    <div class="link-list-item">
                        <div class="link-list-item-img">
                            <img src="../img/drum-lessons/vf-practice-pad-300x300.jpg" alt="Vic Firth practice pad" />
                        </div>
                        <div class="link-list-item-body">
                            <div class="link-list-item-desc">
                                A practice pad is a great companion for developing technique when you don't have access to a drum or drum kit. You can use it to build your skills by going through exercises, or you can use it while you're watching TV to simply work out your hands.
                            </div>
                            <div class="link-list-item-link">
                                <a target="_blank" href="https://www.amazon.com/Vic-Firth-Single-Sided-12/dp/B0002F5BF2/ref=sr_1_6?crid=1DBHAXCKPQ6HK&amp;keywords=vic%252Bfirth%252Bpractice%252Bpad&amp;qid=1701537557&amp;sprefix=vic%252Bfirth%252Bprac%252Caps%252C119&amp;sr=8-6&amp;th=1&_encoding=UTF8&tag=jerkellermusi-20&linkCode=ur2&linkId=e57da6bda042b3a472b00d9304e56eb4&camp=1789&creative=9325">VicFirth 12-inch Practice Pad</a> (Affiliate Link)
                            </div>
                        </div>
                    </div>
                    <div class="link-list-item">
                        <div class="link-list-item-img">
                            <img src="../img/drum-lessons/vf-5a-drumsticks-300x300.jpg" alt="Vic Firth American Classic 5A Drum Sticks" />
                        </div>
                        <div class="link-list-item-body">
                            <div class="link-list-item-desc">
                                It goes without saying: drum sticks are a must for learning the drums. We will discuss what all the numbers and letters mean, but for now, these sticks are a good starting point.
                            </div>
                            <div class="link-list-item-link">
                                <a target="_blank" href="https://www.amazon.com/Vic-Firth-American-Classic-5A/dp/B0002F741Q/ref=sr_1_3?crid=2EQQI3F4XY3N0&amp;keywords=vic%252Bfirth%252B5a&amp;qid=1701697377&amp;sprefix=vic%252Bfirth%252Caps%252C127&amp;sr=8-3&amp;th=1&_encoding=UTF8&tag=jerkellermusi-20&linkCode=ur2&linkId=68296f74822413750032c335fea586ff&camp=1789&creative=9325">Vic Firth American Classic 5A Drum Sticks</a> (Affiliate Link)
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{{ partial "footer.html" . }}