<h1>Getting Started with Drum Lessons</h1>

<section id="intro">
    <div>Congratulations, I'm excited to join you in your journey of learning about drums and music!</div>
    <div>There are many opinions regarding how and in what order to learn the drums. In order to reduce the noise and set you on a clear path, I have provided some tips and a list of equipment to get you started.</div>
    <div class="disclaimer">We may earn a commission if you click through and make a purchase using the affiliate links below. Your support in purchasing through these links enables us to keep providing free, helpful content on this site. Thank you for your support!</div>
</section>

<section id="tips-faq">
    <h2>Tips and FAQ's</h2>
    <div>Below is a quick list of tips and FAQ's to consider as you start your journey</div>
    
    <h3>Tips List</h3>
    <ul class="tips-list">
        <li>Tip 1</li>
    </ul>

    <h3>FAQ List</h3>
    <ul class="faq-list">
        <li>FAQ 1</li>
    </ul>
</section>

<section id="affiliate-links">
    <div>What do I buy?</div>
    <div class="link-list">
        <div class="link-list-item">
            <div class="link-list-item-desc">A practice pad is a great companion for developing technique when you don't have access to a drum or drum kit. You can use it to build your skills by going through exercises, or you can use it while you're watching TV to simply work out your hands.</div>
            <div class="link-list-item-link">
               <a target="_blank" href="https://www.amazon.com/Vic-Firth-Single-Sided-12/dp/B0002F5BF2/ref=sr_1_6?crid=1DBHAXCKPQ6HK&amp;keywords=vic%252Bfirth%252Bpractice%252Bpad&amp;qid=1701537557&amp;sprefix=vic%252Bfirth%252Bprac%252Caps%252C119&amp;sr=8-6&amp;th=1&_encoding=UTF8&tag=jerkellermusi-20&linkCode=ur2&linkId=e57da6bda042b3a472b00d9304e56eb4&camp=1789&creative=9325">VicFirth 12-inch Practice Pad</a> (Affiliate Link)
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="disclaimer" id="full-disclaimer">
        jerkeller.com is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com. As an Amazon Associate, we earn from qualifying purchases.
        This means that, at no additional cost to you, we may earn a commission if you click through and make a purchase. Thanks, again, for your support!
    </div>
</footer>